.card {
  background: white;
  border-radius: 0.75rem;       // 12px
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem;                // 12px
  min-width: 14rem;          // 180px
}

.card__name {
  font-weight: 600;
  font-size: 1rem;
  color: #0b5f5f;
}

.card__button {
  padding: 0.5rem 0.875rem;     // 8px 14px
  border-radius: 62.4375rem;    // 999px (équivalent “pilule” en rem)
  border: none;
  background-color: #0b5f5f;
  color: white;

  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  min-width: 8.75rem;           // 140px
  text-align: center;
}

.card__button:hover {
  background-color: #0f7a7a;
}

.card__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.card__image {
  width: 14rem;               // 100px
  height: 14rem;              // 100px
  border-radius: 0.75rem;       // 12px
  object-fit: cover;
  flex-shrink: 0;
}

.card--active {
  outline: 0.125rem solid #0b5f5f; // 2px => 0.125rem
  outline-offset: 0.125rem;        // optionnel, améliore le rendu
}

// BREAKPOINTS //
